
*.obj
*.exe
*.res
*.pch
*.exp
*.sfx

# Folders
*.vscode
**/x86-bin
**/x64-bin
**/arm64-bin
/CPP/7zip/Bundles/Alone2/_o
*.log
*.o
.DS_Store
/user/deps
user/deps/.DS_Store
user/deps/zlib-ng/mac/arm64/2.3.90/.DS_Store
